In [1]:
import pandas as pd
import numpy as np

## green data

In [2]:
green_time_df = pd.read_csv('D:/Dropbox/Data-Analysis/green%2F2015_green_by_time_02.csv')
green_time_df.head()

   hour  dayofyear  dayofweek  month  trip_num
0     0          8          5      1      1512
1     0         21          4      1      1168
2     0         22          5      1      1358
3     0         23          6      1      1807
4     0        280          4     10      1483

In [3]:
green_time_df.isnull().sum()

hour         0
dayofyear    0
dayofweek    0
month        0
trip_num     0
dtype: int64

In [4]:
green_time_df.shape

(8760, 5)

In [5]:
green_time_df.dtypes

hour         int64
dayofyear    int64
dayofweek    int64
month        int64
trip_num     int64
dtype: object

In [6]:
green_time_df['dayofweek']=green_time_df['dayofweek']-1
green_time_df['dayofweek']= np.where(green_time_df['dayofweek']== 0,7,green_time_df['dayofweek'])
green_time_df.head()

   hour  dayofyear  dayofweek  month  trip_num
0     0          8          4      1      1512
1     0         21          3      1      1168
2     0         22          4      1      1358
3     0         23          5      1      1807
4     0        280          3     10      1483

In [9]:
def get_week_of_year(day):
    new_day = day + 2
    return int(new_day*1./7)+1

In [10]:
get_week_of_year(365)

53

In [21]:
# get week of year
green_time_df['weekofyear'] = green_time_df['dayofyear'].apply(get_week_of_year)
green_time_df.head()

   hour  dayofyear  dayofweek  month  trip_num  weekofyear
0     0          8          4      1      1512           2
1     0         21          3      1      1168           4
2     0         22          4      1      1358           4
3     0         23          5      1      1807           4
4     0        280          3     10      1483          41

In [22]:
# get monthly total
green_by_month = green_time_df.groupby(['month'],as_index=False).sum()[['month','trip_num']]
green_by_month

    month  trip_num
0       1   1480495
1       2   1547855
2       3   1691298
3       4   1633948
4       5   1755165
5       6   1610451
6       7   1515042
7       8   1506945
8       9   1469729
9      10   1603422
10     11   1503740
11     12   1581275

In [28]:
# monthly average
green_month_mean = green_by_month['trip_num'].mean()
green_month_mean

1574947.0833333333

In [25]:
# get weekly sum
green_by_week = green_time_df.groupby(['weekofyear'],as_index=False).sum()[['weekofyear','trip_num']]
green_by_week.head()

   weekofyear  trip_num
0           1    198099
1           2    339825
2           3    351464
3           4    326670
4           5    321619

In [29]:
# weekly average
green_week_mean = green_by_week['trip_num'].mean()
green_week_mean

356591.7924528302

In [30]:
green_by_day = green_time_df.groupby(['dayofyear'],as_index=False).sum()[['dayofyear','trip_num']]
green_by_day.head()

   dayofyear  trip_num
0          1     61851
1          2     42338
2          3     52951
3          4     40959
4          5     41006

In [31]:
# get daily average
green_day_mean = green_by_day['trip_num'].mean()
green_day_mean

51779.08219178082

In [32]:
green_by_hour = green_time_df.groupby(['hour'],as_index=False).mean()[['hour','trip_num']]
green_by_hour.head()

   hour     trip_num
0     0  2384.947945
1     1  1908.342466
2     2  1421.854795
3     3  1095.032877
4     4   901.926027

In [33]:
green_hour_mean = green_by_hour['trip_num'].mean()
green_hour_mean

2157.461757990867

In [40]:
green_by_day_week = green_time_df.groupby(['dayofweek','dayofyear'],as_index=False).sum()

In [42]:
green_by_dayofweek = green_by_day_week.groupby(['dayofweek'],as_index=False)
green_by_dayofweek.count()

   dayofweek  dayofyear  hour  month  trip_num  weekofyear
0          1         52    52     52        52          52
1          2         52    52     52        52          52
2          3         52    52     52        52          52
3          4         53    53     53        53          53
4          5         52    52     52        52          52
5          6         52    52     52        52          52
6          7         52    52     52        52          52

In [46]:
green_by_dayofweek_mean = green_by_dayofweek.mean()[['dayofweek','trip_num']]
green_by_dayofweek_mean

   dayofweek      trip_num
0          1  41982.480769
1          2  43232.038462
2          3  46476.942308
3          4  50751.660377
4          5  57728.250000
5          6  66309.192308
6          7  55992.769231

In [61]:
green_time_df.to_csv('D:/Dropbox/Data-Analysis/2015_green_by_time.csv')

## yellow data

In [47]:
yellow_time_df = pd.read_csv('D:/Dropbox/Data-Analysis/yellow%2F2015_yellow_by_time_02.csv')
yellow_time_df.head()

   hour  dayofyear  dayofweek  month  trip_num
0     0        263          1      9     23106
1     0        272          3      9      8718
2     0        301          4     10     10420
3     0         53          1      2     22795
4     0         63          4      3     10366

In [48]:
yellow_time_df['dayofweek']=yellow_time_df['dayofweek']-1
yellow_time_df['dayofweek']= np.where(yellow_time_df['dayofweek']== 0,7,yellow_time_df['dayofweek'])
yellow_time_df.head()

   hour  dayofyear  dayofweek  month  trip_num
0     0        263          7      9     23106
1     0        272          2      9      8718
2     0        301          3     10     10420
3     0         53          7      2     22795
4     0         63          3      3     10366

In [49]:
# get week of year
yellow_time_df['weekofyear'] = yellow_time_df['dayofyear'].apply(get_week_of_year)
yellow_time_df.head()

   hour  dayofyear  dayofweek  month  trip_num  weekofyear
0     0        263          7      9     23106          38
1     0        272          2      9      8718          40
2     0        301          3     10     10420          44
3     0         53          7      2     22795           8
4     0         63          3      3     10366          10

In [50]:
# get weekly sum
yellow_by_week = yellow_time_df.groupby(['weekofyear'],as_index=False).sum()[['weekofyear','trip_num']]
yellow_by_week.head()

   weekofyear  trip_num
0           1   1420042
1           2   2915561
2           3   3027983
3           4   2887734
4           5   2527227

In [51]:
# weekly average
yellow_week_mean = yellow_by_week['trip_num'].mean()
yellow_week_mean

2685633.150943396

In [59]:
# get monthly total
yellow_by_month = yellow_time_df.groupby(['month'],as_index=False).sum()[['month','trip_num']]
yellow_by_month

    month  trip_num
0       1  12368676
1       2  12075401
2       3  12964587
3       4  12722974
4       5  12834279
5       6  12028007
6       7  11289366
7       8  10864429
8       9  10962883
9      10  12020621
10     11  11027636
11     12  11179698

In [60]:
# monthly average
yellow_month_mean = yellow_by_month['trip_num'].mean()
yellow_month_mean

11861546.416666666

In [52]:
yellow_by_day = yellow_time_df.groupby(['dayofyear'],as_index=False).sum()[['dayofyear','trip_num']]
yellow_by_day.head()

   dayofyear  trip_num
0          1    369395
1          2    334644
2          3    395518
3          4    320485
4          5    352073

In [53]:
# get daily average
yellow_day_mean = yellow_by_day['trip_num'].mean()
yellow_day_mean

389968.6493150685

In [54]:
yellow_by_hour =yellow_time_df.groupby(['hour'],as_index=False).mean()[['hour','trip_num']]
yellow_by_hour.head()

   hour      trip_num
0     0  14894.920548
1     1  10981.523288
2     2   8055.769863
3     3   5855.126027
4     4   4358.180822

In [55]:
yellow_hour_mean = yellow_by_hour['trip_num'].mean()
yellow_hour_mean

16248.693721461184

In [56]:
yellow_by_day_week = yellow_time_df.groupby(['dayofweek','dayofyear'],as_index=False).sum()
yellow_by_dayofweek = yellow_by_day_week.groupby(['dayofweek'],as_index=False)
yellow_by_dayofweek.count()

   dayofweek  dayofyear  hour  month  trip_num  weekofyear
0          1         52    52     52        52          52
1          2         52    52     52        52          52
2          3         52    52     52        52          52
3          4         53    53     53        53          53
4          5         52    52     52        52          52
5          6         52    52     52        52          52
6          7         52    52     52        52          52

In [57]:
yellow_by_dayofweek_mean = yellow_by_dayofweek.mean()[['dayofweek','trip_num']]
yellow_by_dayofweek_mean

   dayofweek       trip_num
0          1  349680.461538
1          2  377302.769231
2          3  395046.596154
3          4  401924.018868
4          5  411388.500000
5          6  423607.173077
6          7  370601.115385

In [58]:
yellow_time_df.to_csv('D:/Dropbox/Data-Analysis/2015_yellow_by_time.csv')